.tiny-footer {
    font-size: 8px;
    text-align: center;
    padding: 5px; 
    background-color: #f8f9fa; 
    border-top: 1px solid #e7e7e7; 
    position: fixed; 
    width: 100%;
    bottom: 0;
  }
  