<div class="container">
    <div class="text-center border mb-5 shadow-rounded contact-header">
      <h1>Contact</h1>
      <p>Davit Can Be Reached At The Following Email: <b>d.eliashvili&#64;.edu.ge</b></p>
      <p>You Can Also Connect With Davit On Other Platforms:</p>
    </div>
    <div class="list-group shadow contact-list">
      <a href="https://www.facebook.com/profile.php?id=100030603522786" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center">
        <img src="../../assets/fb1.png" width="60" height="60" class="rounded-circle flex-shrink-0">
        <h3 class="mb-0">Facebook</h3>
      </a>
      
      <a href="https://www.instagram.com/eliashvili.d/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center">
        <img src="../../assets/logos/instagram-icon-512x512-ggh8x3cn.png" width="60" height="60" class="rounded-circle flex-shrink-0">
        <h3 class="mb-0">Instagram</h3>
      </a>
      
      <a href="https://github.com/Somall123" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center">
        <img src="../../assets/logos/25231.png" width="60" height="60" class="rounded-circle flex-shrink-0">
        <h3 class="mb-0">Github</h3>
      </a>
    </div>
  </div>
  