<nav class="navbar-expand-md custom-navbar mb-3">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/main" routerLinkActive="active-link">Main Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="active-link">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  